# dependencies
node_modules

# env files
.env
.env.*
!.env.example

# build outputs
build
dist

# docker data (database volume local fallback)
pgdata

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea